@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
